<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <h1 tabindex="0">
            <span>Restaurants</span>
        </h2>
    </div>
</md-toolbar>

<md-content flex>
    <md-card ng-repeat="restaurant in main.restaurants">
    	<img ng-src="{{restaurant.image}}" class="md-card-image" aria-hidden="true">
    	<md-card-title>
    		<md-card-title-text>
    			<h2 class="md-headline" tabindex="0" aria-label="{{restaurant.name}}. {{restaurant.average}} stars by average">
                    {{restaurant.name}}
                </h2>
    			<span class="md-subhead">
    				<i ng-repeat="n in restaurant.average|range" class="fa fa-star"></i>
    			</span>
    		</md-card-title-text>
    	</md-card-title>
    	<md-card-content>
    		<p aria-label="Address: {{restaurant.address}}" tabindex="0"><i class="fa fa-map-marker"></i>{{restaurant.address}}</p>
    	</md-card-content>
    	<md-card-actions layout="row" layout-align="end center">
            <md-button ng-href="#/restaurant/{{restaurant.id}}" role="button">See reviews</md-button>
            <md-button ng-href="#/write/{{restaurant.id}}" role="button">Write own review</md-button>
        </md-card-actions>
    </md-card>

</md-content>
