<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
        <h3>
            <span>{{restaurant.name}}</span>
        </h3>
		<span flex></span>
		<div>
			<md-button ng-href="#/write/{{restaurant.id}}" class="md-icon-button" aria-label="Write review"><span class="fa fa-pencil"></span></md-button>
		</div>
    </div>
</md-toolbar>

<md-content flex>
	<md-whiteframe class="md-whiteframe-1dp" layout="column">
		<img ng-src="{{restaurant.image}}" alt="Picture of {{restaurant.name}}">
		<div  layout="column" layout-padding>
			<span class="md-headline">{{restaurant.name}}</span>
			<span class="md-subhead" aria-label="{{restaurant.average}} stars by average">
				<i ng-repeat="n in restaurant.average|range" class="fa fa-star" aria-hidden="true"></i>
			</span>
			<span class="md-subhead" aria-label="Address"><i class="fa fa-map-marker"></i> {{restaurant.address}}</span>
		</div>

	</md-whiteframe>

	<section id="reviewContainer">
      <md-subheader class="md-primary">Reviews</md-subheader>
		<md-card ng-repeat="review in reviews" aria-label="Review from {{review.reviewer.name}}" role="article" tabindex="0">
			<md-card-header aria-hidden="true">
				<md-card-avatar>
					<img class="md-user-avatar" ng-src="{{review.reviewer.avatar}}"/>
				</md-card-avatar>
				<md-card-header-text>
					<span class="md-title">{{review.reviewer.name}}</span>
					<span class="md-subhead">{{review.reviewer.email}}</span>
				</md-card-header-text>
			</md-card-header>
			<md-card-title>
				<md-card-title-text>
					<span class="md-headline">{{review.title}}</span>
					<span class="md-subhead" aria-label="{{review.stars}} stars">
						<i ng-repeat="n in review.stars|range" class="fa fa-star"></i>
					</span>
				</md-card-title-text>
			</md-card-title>
			<md-card-content ng-bind-html="review.text"></md-card-content>
		</md-card>
	</section>


</md-content>
