<md-toolbar class="md-whiteframe-glow-z1 site-content-toolbar">
    <div class="md-toolbar-tools">
		<div>
			<md-button role="button" ng-href="#/" class="md-icon-button" aria-label="Back to all restaurants"><span class="fa fa-arrow-left"></span></md-button>
		</div>
        <h1 tabindex="0">
            <span>Your review</span>
        </h1>
		<span flex></span>
		<div>
			<md-button ng-click="saveReview()" id="publishButton">Publish</md-button>
		</div>
    </div>
</md-toolbar>
<md-content flex>
	<md-whiteframe class="md-whiteframe-1dp" layout="column" layout-padding aria-owns="publishButton">
		<div>
			 <h2>{{restaurant.name}}</h2>
		</div>
		<form name="reviewForm" layout="column">
			<div>
				<label id="labelOveral">Your overall experience</label>
				<md-radio-group ng-model="review.stars" layout="row" layout-padding required aria-labeledby="labelOveral">
					<md-radio-button ng-repeat="star in 5|range" value="{{star+1}}" aria-label="{{star+1}} stars"></md-radio-button>
			    </md-radio-group>

			</div>
			<md-input-container>
				<label>Text of your review</label>
				<textarea ng-model="review.text" md-maxlength="5000" rows="5" md-select-on-focus required></textarea>
			</md-input-container>
		</form>
	</md-whiteframe>
</md-content>
